{% extends "TheCometCultCommunityBundle::layout.html.twig" %}

{% set page_title = 'About' %}
{% set page_class = 'about' %}

{% block content %}
<div class="wrapper clearfix">
    <section>
        <h2>What are we saying no to now?!</h2>

        <p>The Bishopsgate Goodsyard is the last great undeveloped site in the heart of the original Shoreditch Tech City area. The site straddles both the boroughs of Hackney and Tower Hamlets and, apart from the temporary pop-up retail development of Boxpark, had remained dormant since the 1960’s. The site is classified by the London Borough of Hackney as commercial space and the council’s Site Allocations Document describes the site as a commercial location in a Priority Employment Area. It could not be clearer that this site is designated as an extremely important business location.</p>
 
<p>The developers of the scheme are two companies called Hammerson and Ballymore who have formed a joint venture to ‘build out’ the site. They have produced a proposal which will be submitted for planning approval in late June. The proposal sets out a vision to create a mixed use development with residential and business properties co-located on the site. At its heart is a major residential development with two tower blocks 44 and 47 storeys in height providing 600 luxury flats. These two towers would dominate Shoreditch High Street and the surrounding areas, overshadowing the entire Shoreditch triangle with the shadow of the towers reaching all the way to the Old Street Roundabout.  At 47 storeys the tallest tower would be approximately 170m or 560ft in height.  That’s more than three times the height of Nelson’s Column which is a comparatively tiny 52m tall. </p>
 
<p>More than that the proposed 600 luxury flats would create a ghetto of the super rich and overseas investors in Shoreditch with the flats selling for up to £1.5m and creating their own residential property micro-economy.  More significantly the proposed scheme would deny Tech City and the thousands of creative businesses that have played a vital role in developing the area the chance for future expansion and the opportunity to stay in the area by leasing desperately needed additional commercial space. The proposal also seriously curtails the opportunity for other similar businesses to re-locate to London’s most exciting creative and tech quarter.</p>
 
<p>The scheme as it stands only provides approximately 400,000 sq ft of commercial space. The poor design of the scheme, which has to accommodate the train viaduct that runs through the heart of the site, means buildings are 8 floors in height before there is any usable commercial space. This development will completely engulf the iconic Tea Building with commercial buildings almost 20 storeys in height, nearly triple its size.</p>
 
<p>The scheme also proposes to build over 200,000 sq ft of retail space which would create a brand new shopping centre in the heart of Shoreditch.  This would affect other shopping centres such as Dalston and Hackney Central. Shoreditch does not need a retail centre like this. The delight of shopping and eating in Shoreditch is that it is an interesting, experiential and predominantly independent experience. This proposed scheme would create a series of chain stores and restaurants as seen in high street malls across the country that would significantly distort the current Shoreditch offer.</p>

<p>This proposed scheme in its current form is bad for Shoreditch and bad for growth in this country’s foremost creative digital economy, in the spiritual home of Tech City. This campaign is not about NIMBY-ism, it’s about a business community coming together to get the right scheme for the Bishopsgate Goodsyard.  A scheme that focuses on making sure that this incredible cluster of the UK’s most dynamic businesses and entrepreneurs can continue to grow and flourish in the location where it all started.</p>   
 
If you want to support or campaign to protect the commercial integrity of the Bishopsgate Goodsyard site then……..’.</p>
    </section>
</div>

{% endblock %}
