<section class="description column">
    <h2>{{ membersNumber }}</h2>
    <p> who want a conversation about the future of our neighbourhood &amp; community.  <a href="{{ path('the_comet_cult_community_about') }}">Read more about this campaign.</a>.</p>
</section>