<section class="description column">
    <h2>{{ membersNumber }}</h2>
    <p> People who want to see people, put before property and profit.  <a href="{{ path('the_comet_cult_community_about') }}">Read more about this campaign.</a>.</p>
</section>